<div>

  <div class="from">
    From
  </div>
  <div>
    <ol>
      <li><a>Select</a>
        <ul>
          <li><a>PLN</a></li>
          <li><a>USD</a></li>
          <li><a>GBP</a></li>
          <li><a>AZD</a></li>
        </ul>
      </li>
    </ol>
  </div>
  <div class="from">
    to
  </div>
  <div>
    <ol>
      <li><a>Select</a>
        <ul>
          <li><a>PLN</a></li>
          <li><a>USD</a></li>
          <li><a>GBP</a></li>
          <li><a>AZD</a></li>
        </ul>
      </li>
    </ol>
  </div>


  <div class="exchanger">
    <div class="exchanger100">
      100
    </div>
    <div class="label">
      Real-time exchange rate
    </div>
    <div class="currency-rate">
      22.333.22
    </div>
    <div class="actual-currencies">
      <div>PLN</div>
      <div>
        <button class="button">
          ⇆
        </button>
      </div>
      <div>USD</div>
    </div>
  </div>
</div>
