<div>
  <div class="from">
    From
  </div>
  <div>
    <select class="selector" #selectElem (change)="setFirstCurrency(selectElem.value)">
      <option *ngFor="let currency of currencies | keyvalue">
        {{currency.key}}
      </option>
    </select>
  </div>
  <div class="from">
    to
  </div>
  <div>
    <select class="selector" #secSelectElem (change)="setSecondCurrency(secSelectElem.value)" (click)="save()">
      <option *ngFor="let currency of currencies | keyvalue">
        {{currency.key}}
      </option>
    </select>
  </div>

  <div class="exchanger">
    <div class="exchanger100">
      100
    </div>
    <div class="label">
      Real-time exchange rate
    </div>
    <div class="currency-rate">
      |{{rateResponse}}
    </div>
    <div class="actual-currencies">
      <div>{{firstCurrency}}</div>
      <div>
        <button class="button">
          ⇆
        </button>
      </div>
      <div>{{secondCurrency}}</div>
    </div>
  </div>
</div>

<div>
  <div class="chartR">
    <table>
      <tr>
        <td style="width: 100%">
          <canvas id="lineChart"></canvas>
        </td>
        <td style="width: 100%"></td>
      </tr>
    </table>
    Historical exchange chart!
  </div>
</div>
